* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* color: #19ce2e; */
}

.container-error {
  display: flex;
  height: auto;
  margin: 90px auto;
  width: 640px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-size: 108px;
}

img {
  width: 200px;
}

.home-link {
  margin-top: 150px;
}